<link rel="stylesheet" href="/css/header.css">
<header class="navHeader">
    <a href="/issueTracker" class="display-6 headerSpan"><i class="fa fa-bug" aria-hidden="true"></i> Issue Tracker</a>
    <a href="/issueTracker/projectDetails" class="btn btn-light mx-5" style="color: dodgerblue">Project Details</a>
</header>