.navHeader {
    width: 100vw;
    margin: 0;
    background-color: rgb(30, 191, 255);
    padding: 20px 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerSpan {
    margin: 0;
    color: whitesmoke;
    text-decoration: none;
}

.headerSpan:active,
.headerSpan:hover {
    margin: 0;
    color: whitesmoke;
    text-decoration: none;
}