.myModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid #04aa6d;
  border-radius: 1.5rem;
  width: 80%;
  color: black;
  font-size: 1.3rem; }

.bold {
  font-weight: bold; }

#btn {
  background-color: #04aa6d;
  color: white;
  font-weight: bold;
  width: 80px;
  height: 40px;
  border: 0px;
  border-radius: 2rem; }

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

#myBtn {
  background-color: #04aa6d;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 150px;
  height: 60px;
  border: 0px;
  border-radius: 2rem; }
